* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(140, 181, 243);
  color: #212121;
  line-height: 1.5;
}

.video {
  margin-left: 20px;

}

.link {
  margin-left: 20px;
}

img {
  display: block;
  max-width: 100%;
}

.list {
margin-top: 40px;
margin-left: 20px;
}

.item {
  margin-bottom: 5px;
}
